
.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 30px;
    padding: 40px;
    height: 100%;
    background-color: #272531;
    color: white;
}

.main-btn-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recognizer-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    height: 100%;
    color: white;
}

.clear-btn{
    /* background-color: #2e2c38; */
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-size: 2vw;
    flex-basis: 25%;
}

.switch-recognizer-btn{
    background-color: rgb(28, 165, 229);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-size: 2vw;
    flex-basis: 32%;

}

button:hover{
    opacity: 0.8;
}

.input-info{
    font-size: 1.5vw;
    color: white;
}